.food_title{
  background-color: #deb887;
  padding: 5px;
  color: #fff;
}

.type1{
  background-color: #ccaa7c;
}

.type2{
  background-color: #b3956d;
}

.type3{
  background-color: #997f5d;
}

.food_title a{
  color:#fff;
}

ul{
  padding: 0;
}

li{
  list-style:none;
}